.navbar-container {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #fff; /* Set the background color */
    border-bottom: 1px solid #ccc; /* Add a border to visually separate from the content */
  }
  
  
  
  